name: Windows Build

on:
  workflow_dispatch:

env:
  SCITER_RUST_VERSION: "1.75"
  RUST_VERSION: "1.75"
  LLVM_VERSION: "15.0.6"
  FLUTTER_VERSION: "3.24.5"
  VCPKG_COMMIT_ID: "120deac3062162151622ca4860575a33844ba10b"

jobs:
  generate-bridge:
    uses: ./.github/workflows/bridge.yml

  windows-flutter:
    name: Windows x64 Fast Build
    needs: [generate-bridge]
    runs-on: windows-2022
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Restore bridge files
        uses: actions/download-artifact@v4
        with:
          name: bridge-artifact
          path: ./

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: C:\vcpkg
          vcpkgGitCommitId: ${{ env.VCPKG_COMMIT_ID }}

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: ${{ env.LLVM_VERSION }}

      - name: Install flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ env.SCITER_RUST_VERSION }}
          targets: x86_64-pc-windows-msvc

      - name: Build and Patch
        shell: bash
        run: |
          # 1. Abh채ngigkeiten exakt f체r das gesuchte Triplet installieren
          # Das behebt den "libavutil/attributes.h" Fehler
          $VCPKG_ROOT/vcpkg install ffmpeg opus libvpx libyuv aom mfx-dispatch dav1d --triplet x64-windows-static --classic

          # 2. Umgebungsvariablen setzen
          export VCPKG_ROOT="C:/vcpkg"
          export VCPKGRS_DYNAMIC=0
          
          # 3. Deine Anpassungen (Server, Passwort-Mode, Key)
          # Passwort auf Best채tigung umstellen
          find libs/hbb_common/src/ -name "config.rs" -exec sed -i 's/"use-password"/"use-confirmation"/g' {} +
          
          # Eigenen Server eintragen
          find libs/hbb_common/src/ -name "config.rs" -exec sed -i 's/rendezvous_server": "".to_string()/rendezvous_server": "www.comfine.de".to_string()/g' {} +
          
          # DEIN KEY (wichtig!)
          find libs/hbb_common/src/ -name "config.rs" -exec sed -i 's/key": "".to_string()/key": "WRWSwUFAJw+wfs59u1xX9Z3icu4k6MV0fX9y1nt5IXo=".to_string()/g' {} +

          # 4. Der Build-Befehl
          python3 build.py --portable --hwcodec --flutter --vram --skip-portable-pack
          
          # 5. Ordner f체r den Upload vorbereiten
          mv ./flutter/build/windows/x64/runner/Release ./rustdesk-bin

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Comfine-Support-Tool
          path: rustdesk-bin
